/* Variables */
:root {
    --color-1: #FFFFFF;
    --color-2: #797D81;
    --color-3: #090B12;
    --color-4: #141922;
    --color-7: #ADFE2E;
    --padding-1: 0.2rem 0;
    --padding-2: 1rem;
    --padding-3: 0.5rem 0;
    --gap-1: 1rem;
    --gap-2: 0.5rem;
}

/* Tag selectors */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    border: 1px dashed red;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

main {
    padding: var(--padding-2);
    overflow: auto;
    background-color: var(--color-4);
}

/* Utility classes */

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
}

.grown {
    flex-grow: 1;
    overflow: auto;
}

.no-shrink {
    flex-shrink: 0;
}

.btn {
    color: #FFFFFF;
    font-size: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    align-self: center;
    background-color: var(--color-3);
}

/* Other selectors */

#nav-bottom {
    height: 8vh;

    background-color: aqua;
}

#nav-left {
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 3rem;

    background-color: blueviolet;
}

#nav-top {
    height: 8vh;
    justify-content: flex-end;
    background-color: var(--color-3);
}

#nav-top button:hover {
    font-size: 13px;
    padding: 0.7rem 1.8rem;
}

#nav-main {
    width: 60%;
    margin: auto;
    justify-content: space-between;
    flex-basis: 0;
}

.nav-main-link-container > a {
    text-decoration: none;
    color: var(--color-2);
}

.nav-main-link-container > div {
    width: 40%;
    margin: auto;
    background-color: var(--color-4);
}

.nav-main-link-container:hover > div {
    background-color: var(--color-7);
}

.title {
    font-size: 18px;
    color: var(--color-1);
    padding: var(--padding-1);
}

.subtitle {
    color: var(--color-2);
    padding: var(--padding-1);
}

.row {
    padding: var(--padding-1);
    gap: var(--gap-1);
    flex-basis: 0;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc((100% / 6) - var(--gap-1));
}

.card > img {
    max-width: 100%;
    
}

.song {
    font-size: 13px;
    color: var(--color-1);
    text-align: center;
    padding: var(--padding-1)
}

.artist {
    color: var(--color-2);
    text-align: center;
    padding: var(--padding-1)
}








/* GARBAGE SELECTORS, DELETE AT THE END */

body > .grown {
    background-color: cadetblue;
}

body > .grown > .grown {
    background-color: blue;
}








/* Media queries */

@media screen and (max-width: 1100px) {

    .row {
        gap: var(--gap-2);
    }

    .col {
        flex-basis: calc((100% / 4) - var(--gap-2));
    }

    #nav-main {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-main-link-container {
        padding: var(--padding-3);
        flex-basis: calc(100% / 5);
    }
    
}

@media screen and (max-width: 700px) {

    .row {
        gap: var(--gap-2);
    }

    .col {
        flex-basis: calc((100% / 2) - var(--gap-2));
    }

    .nav-main-link-container {
        flex-basis: calc(100% / 3);
    }

}

@media screen and (max-width: 600px) {

    #nav-left {
        width: 50px;
    }

    #nav-left:hover {
        width: 200px;
    }

    .row {
        gap: var(--gap-2);
    }

    .col {
        flex-basis: calc((100% / 2) - var(--gap-2));
    }

    .nav-main-link-container {
        flex-basis: calc(100% / 4);
    }
    
}