/* Variables */
:root {
    --color-1: #FFFFFF;
    --color-2: #797D81;
    --color-3: #090B12;
    --color-4: #141922;
    --color-5: #000000;
    --color-6: #383838;
    --color-7: #ADFE2E;
    --padding-1: 0.2rem 0;
    --padding-2: 1rem;
    --padding-3: 0.5rem 0;
    --padding-4: 0 0.4rem;
    --padding-5: 0 0.8rem;
    --gap-1: 1rem;
    --gap-2: 0.5rem;
}

/* Tag selectors */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

main {
    padding: var(--padding-2);
    overflow: auto;
    background-color: var(--color-4);
}

/* Utility classes */

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
}

.grown {
    flex-grow: 1;
    overflow: auto;
}

.no-shrink {
    flex-shrink: 0;
}

.btn {
    color: #FFFFFF;
    font-size: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    align-self: center;
    background-color: var(--color-3);
}

/* Other selectors */

/* Left bar */

#nav-left {
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    background-color: var(--color-5);
}

/* Next 2 selectors to put padding on left bar 
and create hover effect */

#nav-left > img, 
#nav-left-top > li, 
#nav-left-mid > a, 
#nav-left-mid > div, 
#nav-left-mid > ul > li > a,
#nav-left-bottom > div {
    padding: var(--padding-3);
    padding-left: 1rem;
}

#nav-left a {
    text-decoration: none;
    color: var(--color-2);
    align-items: center;
}

/* Hidden small logo, appears on last query */

#nav-left > img:nth-child(2) {
    display: none;
    height: 40px;
}

#nav-left-top img, 
#nav-left-mid img, 
#nav-left-bottom img {
    height: 25px;
}

/* Left bar top */

#nav-left-top {
    padding: var(--padding-3);
}

#nav-left-top > li:hover {
    border-left: 2px solid var(--color-7);
}

/* Left bar mid */

#nav-left-mid > a:first-child {
    color: var(--color-1);
}

#create-playlist {
    align-items: center;
}

.btn-nav-mid {
    font-size: 25px;
    color: var(--color-5);
    padding: var(--padding-4);
    margin-right: 0.5rem;
    background-color: var(--color-2);
}

#nav-left-mid > ul > li {
    padding: var(--padding-1);
}

/* Left bar bottom */

#nav-left-bottom {
    padding-top: 2rem;
}

#nav-left-bottom > div:first-child {
    font-size: 11px;
    color: var(--color-2);
}

#nav-left-bottom > div:first-child > i {
    font-size: 9px;
    text-align: center;
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
    border: 1px solid var(--color-2);
    border-radius: 50%;
}

#nav-left-bottom > div:nth-child(2) {
    width: 90%;
    margin-left: 1rem;
    padding: 0;
    border-top: 1px solid var(--color-2);
    
}

#nav-left-bottom > div:last-child {
    color: var(--color-1);
    align-items: center;
}

#nav-left-bottom > div:last-child img {
    height: 20px;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-2);
}

/* Next 2 selectors to put white color when hover */

#nav-left-top div:hover,
#create-playlist > a:hover,
#nav-left-mid > ul > li > a:hover,
#nav-left-bottom > div:first-child > div:hover {
    color: var(--color-1);
}

/* Top bar */

#nav-top {
    height: 8vh;
    justify-content: flex-end;
    background-color: var(--color-3);
}

#nav-top button:hover {
    font-size: 13px;
    padding: 0.7rem 1.8rem;
}

/* Navigation bar in main */

#nav-main {
    width: 60%;
    margin: auto;
    justify-content: space-between;
    flex-basis: 0;
}

.nav-main-link-container {
    align-items: center;
}

.nav-main-link-container > a {
    text-decoration: none;
    color: var(--color-2);
}

.nav-main-link-container > div {
    width: 40%;
    height: 2px;
    margin: auto;
}

.nav-main-link-container:hover > div {
    background-color: var(--color-7);
}

/* Main section */

.title {
    font-size: 18px;
    color: var(--color-1);
    padding: var(--padding-1);
}

.subtitle {
    color: var(--color-2);
    padding: var(--padding-1);
}

.row {
    padding: var(--padding-1);
    gap: var(--gap-1);
    flex-basis: 0;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc((100% / 6) - var(--gap-1));
}

.song {
    font-size: 13px;
    color: var(--color-1);
    text-align: center;
    padding: var(--padding-1)
}

.artist {
    color: var(--color-2);
    text-align: center;
    padding: var(--padding-1)
}

/* Next 4 selectors to make hover play effects */

.img-container {
    position: relative;
}

.card .fa-circle-play {
    font-size: 50px;
    color: var(--color-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.img-container:hover > img {
    opacity: 0.5;
}

.img-container:hover > .fa-circle-play {
    display: block;
}

/* Bottom bar */

#nav-bottom {
    height: 8vh;
    padding: 0.5rem;
    justify-content: space-between;
    background-color: #383838;
}

/* Bottom bar, left side */

#song-box > div {
    justify-content: center;
}

#song-box > img {
    margin-right: 0.5rem;
}

#song-box-artist {
    color: var(--color-1);
}

#song-box-song {
    color: var(--color-2);
}

#nav-bottom-left > div:last-child {
    margin-left: -200px;
    justify-content: center;
}

#nav-bottom-left i {
    padding: var(--padding-1);
    color: var(--color-2);
    font-size: 15px;
}

#nav-bottom-left i:hover {
    color: var(--color-1);
}

/* Bottom bar, middle */

#nav-bottom-mid {
    color: var(--color-1);
    width: 40%;
    align-items: center;
}

#nav-bottom-mid i {
    padding: var(--padding-5);
    color: var(--color-1);
    font-size: 15px;
}

#nav-bottom-mid i:nth-child(3) {
    padding: var(--padding-5);
    color: var(--color-1);
    font-size: 25px;
}

#nav-bottom-mid i:nth-child(3):hover {
    transform: scale(1.3);
}

#nav-bottom-mid > div:last-child {
    width: 100%;
    padding-top: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.soundbar {
    width: 80%;
    height: 5px;
}

.soundbar-left {
    width: 25%;
    background-color: var(--color-1);
}

.soundbar-mid {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px soid black;
    border-radius: 50%;
    align-self: center;
    display: none;
    background-color: var(--color-1);
}

.soundbar-right {
    width: 75%;
    background-color: var(--color-2);
}

/* Next 2 selectors to put hover effect on soundbar */

.soundbar:hover > .soundbar-left {
    background-color: var(--color-7);
}

.soundbar:hover > .soundbar-mid {
    display: block;
}

/* Bottom bar, right side */

#nav-bottom-right {
    width: 15%;
    color: var(--color-1);
    align-items: center;
}

#nav-bottom-right > i {
    padding: var(--padding-4);
}

#nav-bottom-right > .soundbar {
    min-width: 50px;
}

/* Media queries */

@media screen and (max-width: 1100px) {

    .row {
        gap: var(--gap-2);
    }

    .col {
        flex-basis: calc((100% / 4) - var(--gap-2));
    }

    #nav-main {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-main-link-container {
        padding: var(--padding-3);
        flex-basis: calc(100% / 5);
    }
    
}

@media screen and (max-width: 700px) {

    .row {
        gap: var(--gap-2);
    }

    .col {
        flex-basis: calc((100% / 2) - var(--gap-2));
    }

    .nav-main-link-container {
        flex-basis: calc(100% / 3);
    }

}

@media screen and (max-width: 600px) {

    /* Left bar behaviour changes */

    #nav-left {
        width: 50px;
        padding: 0;
        align-items: center;
    }

    #nav-left > img, 
    #nav-left-top > li, 
    #nav-left-mid > a, 
    #nav-left-mid > div, 
    #nav-left-mid > ul > li > a,
    #nav-left-bottom > div {
    padding: var(--padding-1);
    }

    #nav-left-bottom {
        margin-top: auto;
        align-items: center;
    }

    .disappear {
        display: none;
    }

    #nav-left > img:nth-child(2) {
        display: block;
    }

    .row {
        gap: var(--gap-2);
    }

    .col {
        flex-basis: calc((100% / 2) - var(--gap-2));
    }

    .nav-main-link-container {
        flex-basis: calc(100% / 4);
    }
    
}